.imgtitle
{
    color:#C0C0C0;
    font-weight:bold;
    font-size:smaller;
    margin-top:20px;
    margin-bottom:4px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration:none;
    display:block;
    text-align:right;
    
}

#rightgallerycarousel li a 
{
    width:auto !important;
}

.livergallery
{
    margin-bottom:8px !important;
}

gallery , a
{
    text-decoration:none;
}


.galleryimage
{
    margin:20px;
    text-decoration:none;
    height:130px;
}