body 
{
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    min-height:100%;
    margin:0px;
}

#mainBody 
{
   
    background-image: url("../images/watermark2.jpg");
}


html
{
    background-size:100%;
    height:100%;
}
#mainHtml
{
    background-color:White;

}

h1
{
    font-size:xx-large;
    color:rgba(50, 20, 50, .6);
}

#logo
{
    padding-top:55px;
    margin: 0 auto;
    width: 890px;	
    text-align:center;
}

 #loaderWarp img
{
   border-width:0;
} 
 #loaderWarp
{
    padding-top:55px;
    margin: 0 auto;
    width: 890px;	
    text-align:center;
    width:100%;
    position:absolute;
}    
.social-media-buttons 
{ 
	margin:10px;
 	height:30px;
    text-align:center; 
}

.social-media-buttons span 
{
    text-align:left;
    display:inline;
}
.social-media-list { width: 320px;}
.social-media-list li { display:block; float: left; width:33.3%; text-align:center; margin: 0 auto;}
 
 footer
 {
    color:Gray;
    font-size:x-small;
    padding:10px;  
    text-align: center;
 }

#container
{
    width:850px;
    margin:0 auto;
    vertical-align:middle;  
    direction:rtl;
}

#iframe{
border:0;
 overflow:hidden;
 overflow-x:hidden;
 overflow-y:hidden;
 width:100%;
 height:0;
 top:0px;
 left:0px;
 right:0px;
 bottom:0px
}
#transparent
{   
    /*background-color: rgba(50, 20, 50, .33);*/
    background: rgba(128, 128, 128, .1);
    z-index:900;
    margin:0 auto;
    height:100%;
    min-height:250px;
    border-radius: 15px;
    border-style:solid;
    border-color:rgba(255, 255, 255, .9);
    border-width:0px;
    overflow:hidden;
    margin-top:10px;
    width:100%;
}

.centerdiv
{
    margin:20px 20px 0px 50px;
    color:#666666;
    z-index:1000;
}

.sitebutton
{
    text-decoration:none;
    cursor:pointer;
    color:black;
   /* background-color:rgba(50,20,50,.1);*/
    padding:5px 15px 5px 15px;
    border-radius:5px;
    margin-left:-50px;
    font-size:larger;
    font-weight:bolder;
    background-image:url('../images/left-arrow.png');
    background-repeat:no-repeat;
    background-position:4% 50%;
    background-size:18%;
    padding-left:15px;  
}

.im
{
    margin-left:20px;
    width:300px;
    box-shadow: 20px 20px 80px;
}

img 
{
    border-style:solid;
    border-width:4px;
    border-color:White;
    border-radius:5px;
}

.desctext
{
    color:rgba(50,20,50,.7);
    border-radius: 5px;
    padding: 10px;
    padding-top: 160px;
    width:180px;
    text-align:center;  
    text-shadow: 0px 0px 45px rgba(50,20,50,1);
    font-style: italic;
    font-weight: 500;
    font-size: larger;
}

