body 
{
    font-family:Arial, Helvetica, sans-serif;
    min-height:100%;
    color:Blue;
    direction:rtl;
     height: 100%;
     margin:0px;
}

html
{
    
    background-color:White;
    background-size:100%;
    
}

h1
{
    font-size:xx-large;
    color:rgba(50, 20, 50, .6);
}

.social-media-buttons { margin:auto; height:30px;}
.social-media-list { width: 300px;}
.social-media-list li { display:block; float: left; width:33.3%; text-align:center; margin: 0 auto;}
 
 footer
 {
     text-align:center;
     color:Gray;
     font-size:x-small;
     padding:10px;  
 }

#container
{
    height:80%;
    width:850px;
    margin:0 auto;
    vertical-align:middle;  
}

#transparent
{   
    background: rgba(128, 128, 128, .1);
    z-index:900;
    margin:0 auto;
    height:100%;
    border-radius: 15px;
    border-bottom-width:0px;
    border-style:solid;
    border-color:#E5E4E2;
    border-width:0px;
    overflow:hidden;
    margin-top:10px;
    padding:10px;
}

.centerdiv
{
    margin:20px 20px 0px 50px;
 
    
    color:#666666;
    z-index:1000;
    
    
}

.im
{
    margin-left:20px;
    width:270px;
    display:inline;
}

#transparent
{
    
}

img 
{
    border-style:solid;
    border-width:4px;
    border-color:White;
    border-radius:5px;
    
}

.desctext
{
    color:rgba(50,20,50,.7);
}
