
#menu 
{
      margin-top:100px;
    margin:0 auto;
    vertical-align:middle;
    width: 750px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px #333333;
    background-color: rgba(50, 20, 50, .5);
    border-radius: 8px;
}

#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#menu li { 
display: inline; 
padding: 20px; 
}

#menu a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 8px 8px 8px 8px;
}

a[id=order] 
{
    font-size:larger;
    color:Yellow !important;
}

a[id=order]:hover,
#menu a:hover {
    color: #000000 !important;
    background-color: White;
     border-radius: 5px;
}
